.btn-style {
  /* text-align: center !important; */
  font-size: large !important;
  margin-left: 31% !important;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 35%;
}

.card-size {
  min-height: 90vh;
}
